<%= link_to "Ok, go", "http://oauth.vk.com/authorize?client_id=2274254&scope=124&redirect_uri=http://albums.dev/handle_vk_req&display=popup&response_type=code", id: "vk_authorize_link" %>
<%= link_to "Load Info", albums_path, id: "albums_load_link" %>

<div id="albums">
  <div class="album">
    <img src="" class="cover">
    <span class="title"></span>
  </div>
</div>

